.root {
-fx-base: rgb(60, 60, 60);
-fx-background: rgb(60, 60, 60);
-fx-control-inner-background:  rgb(60, 60, 60);
}
 
.tab {
-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
/*
-fx-padding: 3 10 2 10;
-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
-fx-background-radius: 10 10 0 0;
-fx-background-insets: 0 0 -1 0, 0, 1, 2;
-fx-border-radius: 10 10 0 0;
-fx-border-color: -fx-outer-border, -fx-inner-border;
-fx-border-style: solid;
-fx-text-fill: -fx-text-base-color;
-fx-vpos: CENTER;
-fx-graphic-vpos: CENTER;
*/
}
 
.menu-bar {
-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
}
 
.tool-bar:horizontal {
-fx-background-color:linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}
 
.button {
-fx-background-color: transparent;
}
 
.button:hover {
-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
-fx-color: -fx-hover-base;
}
 
 
.table-view {
-fx-table-cell-border-color:derive(-fx-base,+10%);
-fx-table-header-border-color:derive(-fx-base,+20%);
}

 
.split-pane:horizontal > * > .split-pane-divider {
-fx-border-color: transparent -fx-base transparent -fx-base;
-fx-background-color: transparent, derive(-fx-base,20%);
-fx-background-insets: 0, 0 1 0 1;
}

.my-gridpane {
-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}

 
.separator-label {
-fx-text-fill: orange;
}


.hbox {
-fx-spacing: 10;
}


